.videoUpload {
padding-top: 56px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
height: 92vh;
font-family: "Oswald", "sans-serif";
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
background-color: white;
color: black;
}
.uploadBox {
width: 45%;border-radius: 5px;
margin-top: 20px;
box-shadow: 0.5px 0.5px 8px black;
padding: 25px;
margin-top: 50px;
}
.uploadVideoTitle {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
font-size: 28px;
font-weight: 600;
}

.uploadForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}
.uploadFormInput {
    width: 70%;
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}

.uploadBtns {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.uploadBtn-form {
    padding: 10px 20px;
    border: 1px solid;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    &:hover {
        background-color: black;
        color: white;
    }
}






/* // Media Query  */

/* Tablet devices (≤1024px) */
@media screen and (max-width: 1024px) {
    .uploadBox {
      width: 70%;
      padding: 20px;
    }
  
    .uploadFormInput {
      width: 85%;
    }
  
    .uploadVideoTitle {
      font-size: 24px;
    }
  
    .uploadBtn-form {
      font-size: 16px;
      padding: 8px 16px;
    }
  }
  
  /* Mobile devices (≤768px) */
  @media screen and (max-width: 768px) {
    .uploadBox {
      width: 90%;
      padding: 15px;
    }
  
    .uploadVideoTitle {
      font-size: 20px;
      text-align: center;
    }
  
    .uploadFormInput {
      width: 100%;
      font-size: 14px;
      height: 40px;
    }
  
    .uploadBtns {
      gap: 15px;
    }

    .uploadBtn-form {
background-color: coral;
color: white;
    }
  
   
  }
  
