
.homeSidebarHide {
    display: none;
}

.home-SideNavbar {
    display: flex;
    flex-direction: column;
    flex : 0.16 1;
    box-sizing: border-box;
    height: 92vh;
    overflow-y: auto;
    position: fixed;
    top: 55px;
    left: 0px;
    width: 275px;
    padding: 14px;
    color: black;
}

.home-SideNavbar::-webkit-scrollbar {
    width: 12px;
}

.home-sideNavbar-Top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(86, 85, 85);
    padding-bottom: 10px;
}

.home-sideNavbarTopOption {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 9px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:hover {
        background-color:rgb(237, 217, 138);
    }
}

.home-sideNavbarTopOptionTitle {
    font-size: 15px;
    font-weight: 450;
}

.home-sideNavbar-Middle {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(86, 85, 85);
    padding-bottom: 10px;
}

.home-sideNavbar-end {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(86, 85, 85);
    padding-bottom: 10px;
}

.home-sideNavbarTopOptionTitleHeader {
    font-weight: 600;
}

.home-sidebar-imgLogo {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}



/* media query  */
/* Mobile Devices (767px) */
@media screen and (max-width: 767px) {
    .home-SideNavbar {
      /* display: none; */
      background-color: rgb(68, 57, 57);
            z-index: 1001;
    }
  
    .homeSidebarHide {
      /* display: none !important; */
    }
    .home-sideNavbarTopOption {
        color: white;

    }
  }
  
  /*Tablets (768px – 1024px) */
  @media screen and (max-width: 1024px) {
    .home-SideNavbar {
      width: 220px;
      padding: 10px;
      background-color: rgb(68, 57, 57);
      z-index: 1001;
      height: 100%;
    }
  
    .home-sideNavbarTopOption {
      padding: 6px 8px;
      gap: 12px;
      color: white;
    }
  
    .home-sideNavbarTopOptionTitle {
      font-size: 13px;
    }
  
    .home-sideNavbarTopOptionTitleHeader {
      font-size: 14px;
    }
  
    .home-sidebar-imgLogo {
      width: 26px;
      height: 26px;
    }
  }
  

