.homepage {
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
    flex: 1;
    margin-left: 262px;
    min-height: 100vh;
}

.fullhomepage {
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
    flex: 1;
    min-height: 100vh;
    
}

.homepage-options {
    display: flex;
    position: fixed;
    top: 56px;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    flex-shrink: 0;
    height: auto;
    overflow-x: scroll;
    /* background-color: black; */
}

.homepage-options::-webkit-scrollbar {
    width:12px;
}

.homepage-option {
flex: 0 0 auto;
height: 30px;
padding: 1px 10px;
background-color:blanchedalmond;
color: black;
font-weight: 600;
border-radius: 5px ;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.homepage-option {
    padding: 8px 14px;
    margin: 4px;
    border-radius: 20px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .homepage-option.active {
    background-color: red;
    color: white;
    font-weight: bold;
  }
  

/* // Main Youtube content videos  */

.home-mainPage {
    display: grid;
    box-sizing: border-box;
    gap: 20px;
    grid-template-columns: 440px 440px 450px;
    padding: 90px 0 20px 0;
    /* background-color: black; */
    height: 100vh;
}

.home-mainPagewithoutSidebar {
    display: grid;
    box-sizing: border-box;
    gap: 30px;
    grid-template-columns: 386px 386px 386px 386px;
    padding: 90px 0 20px 0;
    /* background-color: black; */
}

.youtube-Videos {
    color: black;
    text-decoration: none;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    cursor: pointer;
    height: 316px;
}

.thubmnailBox {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 316px;
}

.youtube-thumbnailPic {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.youtube-timingThumbnail {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    padding: 1px 2px;
    /* background-color: rgb(42, 42, 42); */
    border-radius: 5px;
}

.youtube-TitleBox {
    display: flex;
    padding-top: 10px;
}

.youtubeTitleBoxProfile {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.youtube-thumbnail-Profile {
    width: 80%;
    border-radius: 50%;
}

.youtubeTitleBox-Title {
width: 100%;
padding: 5px;
box-sizing: border-box;
display: flex;
flex-direction: column;
}

.youtube-videoTitle {
    font-weight: 600;
    font-size: 16px;

}

.youtube-channeName {
    margin-top: 5px;
    font-size: 18px;
    color: rgb(170, 170, 170);
}

.youtubeVideo-views {
    font-size: 14px;
    /* color: rgb(170, 170, 170); */
}