/* Navbar left part  */
.navbar {
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;
    z-index: 10;
}

.navbar-left {
    gap: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.navbarHamberger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.navbar_youtubeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    text-decoration: none;
}

.navbar_youtubeTitle {
    font-size: 20px;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;
}

/* ------------- Left navbar part Ends */

.navbar-middle {
    display: flex;
    gap: 10px;
    width: 50%;
}

.navbar-searchbar {
    width : 80%;
    display: flex;
}

.nav-search-input {
    width: 100%;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgb(58, 57, 57);
    font-size: 16px;
    padding-left: 30px;

    &:focus {
        outline: none;
    }
    
}

.navbar-searchIconBox {
    cursor: pointer;
    width: 70px;
    border: 1px solid rgb(42, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-Mike {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}

.signIn-btn {
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(176, 176, 208);
    border-radius: 500px;
    cursor: pointer;
    gap: 5px;
    &:hover {
        background-color: rgb(247, 245, 245);
    }
} 

.navbar-right {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-right-logo {
    border-radius: 20px;
}

.navbar-model {
    position: absolute;
    top: 35px;
    right: 5px;
    width: 200%;
    height: 318%;
    z-index: 20;
    color: black;
    background-color:blanchedalmond;
    padding: 10px;
}

.navbar-model-option {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    cursor: pointer;
    &:hover {
        background-color: white;
    }
}


/* // ---------------------------------------

-------------------------------------------*/



/* Media Query  */
/* Tablet: max width 1024px */
@media screen and (max-width: 1024px) {
    .navbar-middle {
      width: 60%;
    }
  
    .navbar-searchIconBox {
      width: 50px;
    }
  
    .nav-search-input {
      font-size: 14px;
    }
  }
  
  

  /* Mobile View  */
  @media screen and (max-width: 767px) {
.navbar-searchIconBox {
display: none;
}

.navbar-Mike {
    display: none;
}

.navbar-notification {
    display: none;
}

.navbar-model  {
    height: 418%;
}

.navbar_youtubeTitle {
    display: none;
}

/* .navbarHamberger {
    display: none;
} */

.nav-search-input {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 5px;
    padding-left: 10px;
    border: 1px solid rgb(58, 57, 57);
    font-size: 16px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: black;
    }
}




}
  


